<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pregunta de Seguridad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #pageContent class="ion-padding">
  <div class="pregunta-container">
    <ion-card>
      <ion-card-subtitle>Pregunta de seguridad para {{ correo }}</ion-card-subtitle>
      
      
      <ion-item>
        <ion-label position="floating">Pregunta</ion-label>
        <ion-input type="text" [value]="pregunta" disabled></ion-input>
      </ion-item>

      
      <ion-item>
        <ion-label position="floating">Respuesta</ion-label>
        <ion-input type="text" [(ngModel)]="respuesta"></ion-input>
      </ion-item>
      
      
      <ion-button expand="full" (click)="verificarRespuesta()">Recuperar contraseña</ion-button>
    </ion-card>
  </div>
</ion-content>
