<ion-header>
  <ion-toolbar color="warning">
    <ion-title #titulo size="large" style="font-size: 20px; color: black">
      Sistema de Asistencia DUOC UC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">

  <div class="centrar">
    <!-- Mensaje de bienvenida -->
    <ion-toolbar class="ion-padding-top">
      <h1 *ngIf="usuario.cuenta.trim() !== ''">
        ¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!
      </h1>
    </ion-toolbar>

    <!-- Contenedor para la cámara del escaneo QR -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Escaneo de QR</ion-card-title>
        <ion-card-subtitle>Registra tu asistencia fácilmente</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="contenedor-video-canvas ion-text-center">
          <video #video [hidden]="!escaneando" style="width: 100%; border-radius: 10px;"></video>
          <canvas #canvas hidden></canvas>
        </div>

        <!-- Botón para iniciar el escaneo de QR -->
        <ion-row class="ion-justify-content-center">
          <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" shape="round" color="warning">
            <ion-icon slot="start" name="camera"></ion-icon>
            Iniciar escaneo de QR
          </ion-button>

          <!-- Botón para detener el escaneo de QR si es necesario -->
          <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" shape="round" color="warning">
            <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
            Detener escaneo de QR
          </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Navegación -->
  <ion-toolbar class="ion-text-center">
    <ion-button shape="round" size="small" color="warning" (click)="navegar('/inicio')">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button shape="round" size="small" color="warning" (click)="navegar('/misdatos')">
      <ion-icon name="accessibility-outline"></ion-icon>
      Mis Datos
    </ion-button>
    <ion-button shape="round" size="small" color="warning" (click)="navegar('/miclases')">
      <ion-icon slot="start" name="book"></ion-icon>
      Mis clases
    </ion-button>
    <ion-button shape="round" size="small" color="warning" (click)="navegar('/login')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>
  </ion-toolbar>
</ion-content>
