<ion-header >
  <ion-toolbar color="warning">
    <ion-title #titulo size="large" style="font-size: 20px; color: black" >
      Sistema de Asistencia DUOC UC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar class="ion-text-center">
    
    <ion-button shape="round" size="small" color="warning"
        (click)="navegar('/inicio')">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button shape="round" size="small" color="warning"
        (click)="navegar('/misdatos')">
        <ion-icon name="accessibility-outline"></ion-icon>
      Mis Datos
    </ion-button>
    <ion-button shape="round" size="small" color="warning"
        (click)="navegar('/login')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>
  </ion-toolbar>


  <div class="centrar">
    <div class="enmarcar ion-text-center" #page>
  
      <ion-toolbar class="ion-padding-top">
        <h1 *ngIf="usuario.cuenta.trim() !== ''">
          ¡Bienvenido(a) 
          {{ usuario.nombre }} 
          {{ usuario.apellido }}!
        </h1>
      </ion-toolbar>

    </div>
    <h1 class="ion-text-center" style="margin: 2rem 0;"> Registra tu asistencia a clases </h1>

    <ion-row class="ion-justify-content-center">
      <ion-button #mensajeQR shape="round" size="large" color="warning" style="margin: 3rem 0;"
              (click)="navegar('/qrreader')"
              [disabled]="usuario.cuenta.trim() === ''">
            <ion-icon slot="start" name="qr-code"></ion-icon>
            Comienza escaneo QR
      </ion-button>     
    </ion-row>
    </div>


  <ion-footer style="margin-top: auto;">
    <ion-card>
    <div class="enmarcar ion-text-center">
      <img alt="DUOC" src="../../../assets/img/Logo_Duoc.png" style="height: 120px;"/> 
    </div>
    </ion-card>
  </ion-footer>

</ion-content>   



