<ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo size="large" style="font-size: larger;">
      Sistema de Asistencia DUOC UC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar color="primary" class="ion-text-center">
    
    <ion-button shape="round" size="small" color="tertiary"
        (click)="navegar('/inicio')">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button shape="round" size="small" color="tertiary"
        (click)="navegar('/misdatos')">
        <ion-icon name="accessibility-outline"></ion-icon>
       Mis Datos
    </ion-button>
    

    <ion-button shape="round" size="small" color="tertiary"
        (click)="navegar('/login')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>
  </ion-toolbar>


  <div class="centrar">
    <div class="enmarcar ion-text-center" #page>
  
      <ion-toolbar class="ion-padding-top">
        <h1 *ngIf="usuario.cuenta.trim() !== ''">
          ¡Bienvenido(a) 
          {{ usuario.nombre }} 
          {{ usuario.apellido }}!
        </h1>
      </ion-toolbar>

    </div>
    <h1 class="ion-text-center"> Registra tu asistencia a clases </h1>

    <ion-row class="ion-justify-content-center">
      <ion-button shape="round" size="small" color="tertiary"
        (click)="navegar('/qrreader')"
        [disabled]="usuario.cuenta.trim() === ''">
      <ion-icon slot="start" name="qr-code"></ion-icon>
      Comienza escaneo QR para registrar asistencia
      </ion-button>
    </ion-row>

  </div>

</ion-content>   

<ion-footer>
  <div class="enmarcar ion-text-center">
    <img alt="DUOC" src="../../../assets/img/Logo_Duoc.png" style="height: 120px;"   /> 
  </div>
  
</ion-footer>

