<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">

  <ion-toolbar class="ion-text-center">
    
    <ion-button shape="round" size="small" color="warning"
        (click)="navegar('/inicio')">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button shape="round" size="small" color="warning"
        (click)="navegar('/misdatos')">
        <ion-icon name="accessibility-outline"></ion-icon>
       Mis Datos
    </ion-button>
    <ion-button shape="round" size="small" color="warning"
        (click)="navegar('/login')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>
  </ion-toolbar>


  <div class="contenedor-video-canvas">
    <video #video [hidden]="!escaneando" style="width: 100%"></video>
    <canvas #canvas hidden></canvas>

    <div class="margin-top">
      <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" shape="round" color="warning">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
        Comenzar Escaneo de QR
      </ion-button>

      <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" shape="round">
        <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
        Detener escaneo de QR
      </ion-button>
    </div>
  </div>

  <div *ngIf="datosQR" class="margin-top">
    <h1>
      <span *ngFor="let palabra of palabras" [style.display]="mostrarPalabra(palabra)">
        {{ palabra }} 
      </span>
    </h1>
  
    <table class="tabla-asistencia">
      <tbody>
        <tr [style.display]="filaVisible(0)">
          <td [style.display]="mostrarColumna('Bloque Inicio')">Bloque Inicio:</td>
          <td [style.display]="mostrarColumna('Bloque Inicio')">{{ asistencia!.bloqueInicio }}</td>
        </tr>
        <tr [style.display]="filaVisible(1)">
          <td [style.display]="mostrarColumna('Bloque Término')">Bloque Término:</td>
          <td [style.display]="mostrarColumna('Bloque Término')">{{ asistencia!.bloqueTermino }}</td>
        </tr>
        <tr [style.display]="filaVisible(2)">
          <td [style.display]="mostrarColumna('Día')">Día:</td>
          <td [style.display]="mostrarColumna('Día')">{{ asistencia!.dia }}</td>
        </tr>
        <tr [style.display]="filaVisible(3)">
          <td [style.display]="mostrarColumna('Hora Inicio')">Hora Inicio:</td>
          <td [style.display]="mostrarColumna('Hora Inicio')">{{ asistencia!.horaInicio }}</td>
        </tr>
        <tr [style.display]="filaVisible(4)">
          <td [style.display]="mostrarColumna('Hora Fin')">Hora Fin:</td>
          <td [style.display]="mostrarColumna('Hora Fin')">{{ asistencia!.horaFin }}</td>
        </tr>
        <tr [style.display]="filaVisible(5)">
          <td [style.display]="mostrarColumna('ID Asignatura')">ID Asignatura:</td>
          <td [style.display]="mostrarColumna('ID Asignatura')">{{ asistencia!.idAsignatura }}</td>
        </tr>
        <tr [style.display]="filaVisible(6)">
          <td [style.display]="mostrarColumna('Nombre Asignatura')">Nombre Asignatura:</td>
          <td [style.display]="mostrarColumna('Nombre Asignatura')">{{ asistencia!.nombreAsignatura }}</td>
        </tr>
        <tr [style.display]="filaVisible(7)">
          <td [style.display]="mostrarColumna('Nombre Profesor')">Nombre Profesor:</td>
          <td [style.display]="mostrarColumna('Nombre Profesor')">{{ asistencia!.nombreProfesor }}</td>
        </tr>
        <tr [style.display]="filaVisible(8)">
          <td [style.display]="mostrarColumna('Sección')">Sección:</td>
          <td [style.display]="mostrarColumna('Sección')">{{ asistencia!.seccion }}</td>
        </tr>
        <tr [style.display]="filaVisible(9)">
          <td [style.display]="mostrarColumna('Sede')">Sede:</td>
          <td [style.display]="mostrarColumna('Sede')">{{ asistencia!.sede }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</ion-content>

<ion-footer>
  <ion-card>
    <div class="enmarcar ion-text-center">
      <img alt="DUOC" src="../../../assets/img/Logo_Duoc.png" style="height: 120px;"/> 
    </div>
    </ion-card>
</ion-footer>
