<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">

  <ion-toolbar class="ion-text-center">
    
    <ion-button shape="round" size="small" color="warning"
        (click)="navegar('/inicio')">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button shape="round" size="small" color="warning"
        (click)="navegar('/misdatos')">
        <ion-icon name="accessibility-outline"></ion-icon>
       Mis Datos
    </ion-button>
    <ion-button shape="round" size="small" color="warning"
        (click)="navegar('/login')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>
  </ion-toolbar>


  <div class="contenedor-video-canvas">
    <video #video [hidden]="!escaneando" style="width: 100%"></video>
    <canvas #canvas hidden></canvas>

    <div class="margin-top">
      <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" shape="round" color="warning">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
        Comenzar Escaneo de QR
      </ion-button>

      <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" shape="round">
        <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
        Detener escaneo de QR
      </ion-button>
    </div>
  </div>

  <div *ngIf="datosQR" class="margin-top">
    <h1> Has quedado presente en tu clase </h1>
    <table class="tabla-asistencia">
      <tbody>
        <tr>
          <td>Bloque Inicio</td>
          <td>{{ asistencia!.bloqueInicio }}</td>
        </tr>
        <tr>
          <td>Bloque Término</td>
          <td>{{ asistencia!.bloqueTermino }}</td>
        </tr>
        <tr>
          <td>Día</td>
          <td>{{ asistencia!.dia }}</td>
        </tr>
        <tr>
          <td>Hora Inicio</td>
          <td>{{ asistencia!.horaInicio }}</td>
        </tr>
        <tr>
          <td>Hora Fin</td>
          <td>{{ asistencia!.horaFin }}</td>
        </tr>
        <tr>
          <td>ID Asignatura</td>
          <td>{{ asistencia!.idAsignatura }}</td>
        </tr>
        <tr>
          <td>Nombre Asignatura</td>
          <td>{{ asistencia!.nombreAsignatura }}</td>
        </tr>
        <tr>
          <td>Nombre Profesor</td>
          <td>{{ asistencia!.nombreProfesor }}</td>
        </tr>
        <tr>
          <td>Sección</td>
          <td>{{ asistencia!.seccion }}</td>
        </tr>
        <tr>
          <td>Sede</td>
          <td>{{ asistencia!.sede }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>

<ion-footer>
  <ion-card>
    <div class="enmarcar ion-text-center">
      <img alt="DUOC" src="../../../assets/img/Logo_Duoc.png" style="height: 120px;"/> 
    </div>
    </ion-card>
</ion-footer>
