/* Estilo de la tabla de asistencia */
.tabla-asistencia {
  width: 100%;
  max-width: 600px; /* Ancho máximo de la tabla */
  margin: 20px auto; /* Añade margen vertical y centra horizontalmente */
  border-collapse: collapse; /* Elimina espacios entre celdas */
}

.tabla-asistencia td {
  padding: 10px; /* Espacio interno en las celdas */
  border: 1px solid #FFC107; /* Borde de las celdas en color amarillo */
  color: #000000; /* Color del texto (negro para mejor contraste) */
}

.tabla-asistencia td:first-child {
  font-weight: bold; /* Negrita para la primera columna */
  background-color: #FFC107; /* Color de fondo de la primera columna en amarillo */
  color: #000000; /* Color del texto en la primera columna (blanco) */
}

.tabla-asistencia td:last-child {
  text-align: left; /* Alineación a la izquierda para la última celda */
}

/* Estilo para las filas */
.tabla-asistencia tr:nth-child(even) {
  background-color: #FFE57F; /* Color de fondo para filas pares en amarillo claro */
}

.tabla-asistencia tr:nth-child(odd) {
  background-color: #FFFFFF; /* Color de fondo para filas impares */
}

/* Estilo para el título dentro de la tabla, si es necesario */
.tabla-asistencia th {
  padding: 10px; /* Espacio interno en los encabezados */
  background-color: #FFC107; /* Color de fondo para los encabezados en amarillo */
  color: #000000; /* Color del texto en los encabezados (blanco) */
  text-align: left; /* Alineación a la izquierda para los encabezados */
}

ion-button {
  transition: transform 0.2s ease; /* Transición suave para el cambio de tamaño */
  margin: 0 10px; /* Añade margen horizontal entre los botones */
}

ion-button:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

/* Otras propiedades opcionales para un mejor efecto visual */
ion-button:active {
  transform: scale(0.95); /* Escala hacia abajo al hacer clic */
}
